<app-nav></app-nav>
<h1>Контакти</h1>
<div class="info">
  <h3>Колл-центр</h3>
  <span>Режим роботи Пн-Сб: з 9:00 до 20:00 Нд: з 9:00 до 18:00 </span>
  <h3>Телефони</h3>
  <span
    >Телефони <br />
    Короткий номер 428 <br />
    lifecell 093-00-00-428<br />
    Київстар 067-00-00-428<br />
    Vodafone 095-00-00-428 <br />
    Харків міський (057) 728-30-08<br />
    Callback (057) 728-38-48<br />
    Заявка на Callback відправити
  </span>
  <h3>Корпоративний відділ</h3>
  <span
    >Режим роботи Пн-Пт: з 9:00 до 18:00 Сб-Нд: вихідний<br />
    Адреса вул. Миколаївська, 6 (напроти бібліотеки ім. В. Г. Короленка)
  </span>
</div>
