.order-title {
  text-align: center;
  margin: 20px 0;
}

.order-item {
  display: flex;
  width: 80%;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  margin: 0 auto;
  justify-content: space-between;
}

.order-img {
  width: 14em;
  height: auto;
  margin-right: 20px;
}

.order-details {
  width: 30%;
}
.order-details p {
  width: 40%;
}
.order-details h3 {
  width: 40%;
}
.list-info {
  display: flex;
  justify-content: space-around;
  width: 88%;
  font-size: 16px;
  font-weight: 700;
}
/* From Uiverse.io by mi-series */
.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #40b3a2;
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
  margin: 2em 69em;
  width: 10%;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}
