<main class="main">
  <div class="content">
    <app-nav></app-nav>
    <div class="searchbar">
      <app-searchbar
        (searchTextChanged)="onSearchInputChanged($event)"
      ></app-searchbar>
      <button *ngIf="visibleAll == false" (click)="ClearFilter()">Х</button>
    </div>
    <div class="cardArea" *ngIf="visibleAll == true">
      <div
        class="row"
        *ngFor="let chunk of [products.slice(0, 5), products.slice(5)]"
      >
        <app-card
          *ngFor="let product of chunk"
          [id]="product.id"
          [title]="product.title"
          [info]="product.info"
          [price]="product.price"
          [status]="product.status"
          [image]="product.imageUrl"
          (deleted)="onCardDeleted($event)"
        ></app-card>
      </div>
    </div>
  </div>
  <div class="cardArea" *ngIf="visibleAll == false">
    <div
      class="row"
      *ngFor="
        let chunk of [filteredProducts.slice(0, 5), filteredProducts.slice(5)]
      "
    >
      <app-card
        *ngFor="let product of chunk"
        [id]="product.id"
        [title]="product.title"
        [info]="product.info"
        [price]="product.price"
        [status]="product.status"
        [image]="product.image"
      ></app-card>
    </div>
  </div>
</main>
