<main class="main">
  <div class="content">
    <app-nav></app-nav>
    <app-searchbar></app-searchbar>
    <div class="cardArea">
      <div
        class="row"
        *ngFor="let chunk of [products.slice(0, 5), products.slice(5)]"
      >
        <app-card
          *ngFor="let product of chunk"
          [title]="product.title"
          [info]="product.info"
          [price]="product.price"
          [status]="product.status"
          [image]="product.image"
        ></app-card>
      </div>
    </div>
  </div>
</main>
