<form class="form">
  <span class="input-span">
    <label for="number" class="label">Ціна товару</label>
    <input
      type="number"
      [(ngModel)]="price"
      name="price"
      (input)="calculateTotal()"
      required
    />
  </span>

  <span class="input-span">
    <label for="percent" class="label">Процент</label>
    <input
      type="number"
      [(ngModel)]="percent"
      name="percent"
      (input)="calculateTotal()"
      required
    />
  </span>

  <span class="span">{{ totalPrice }} грн</span>
  <button mat-button (click)="closeDialog()">Х</button>
</form>
