<form class="form">
  <h1>Розрахунок процентної ставки</h1>
  <span class="input-span">
    <div class="input-container">
      <input
        placeholder="Ціна товару"
        class="input-field"
        type="number"
        [(ngModel)]="price"
        name="price"
        (input)="calculateTotal()"
        required
      />
      <label for="input-field" class="input-label">Ціна товару</label>
      <span class="input-highlight"></span>
    </div>
  </span>

  <div class="input-container">
    <input
      placeholder="Процент"
      class="input-field"
      type="number"
      [(ngModel)]="percent"
      name="price"
      (input)="calculateTotal()"
      required
    />
    <label for="input-field" class="input-label">Процент</label>
    <span class="input-highlight"></span>
  </div>

  <span class="span">{{ totalPrice }} грн</span>
  <button mat-button (click)="closeDialog()">Закрити</button>
</form>
