<app-nav></app-nav>
<h1>Способи оплати</h1>
<div class="info">
  <h3>Готівковий</h3>
  <span
    >Оплата готівкою може проводитися при купівлі товару в одному із наших
    магазинів або при доставці товару нашим кур'єром по Харкову.
  </span>
  <h3>Оплата карткою на сайті</h3>
  <span
    >Оплата банківськими картками Visa, MasterCard прямо на сайті (без комісії).
  </span>
  <h3>Оплата карткою в магазині</h3>
  <span
    >Також карткою ви можете оплатити в наших магазинах при отриманні товару
    (без комісії).
  </span>
  <h3>Кредит та розстрочка</h3>
  <span
    >Ви можете оплатити покупку в кредит або розстрочку на зручний для вас
    термін.
    <a href="https://elmir.ua/ua/credits.html" target="_blank"
      >Кредитні продукти банків-партнерів
    </a></span
  >
  <h3>
    Післяплата «Новая почта» (оплата при отриманні)
    <!-- <button (click)="calculate()">Розрахувати</button> -->
    <button class="learn-more" (click)="calculate()">
      <span class="circle" aria-hidden="true">
        <span class="icon arrow"></span>
      </span>
      <span class="button-text">Розрахувати</span>
    </button>
  </h3>

  <span
    >Вартість товару при оплаті готівкою або банківською карткою при отриманні в
    одному з відділень Нової пошти або кур'єру, у випадку доставки «До дверей».
    Цей спосіб доступний тільки при оформленні замовлення вартістю від 500 до 75
    000 грн. Якщо сумма замовлення менша чи більша, можете скористатися
    будь-яким іншим, зручним для вас, видом оплати. Пересилання і доставка у
    вартість товару не входять и оплачуються окремо. Без передоплати: Ви платите
    лише за те, що отримали. Перевірка перед оплатою: Переконайтеся, що все
    гаразд, перш ніж платити. Комісія: 2% + 20 грн за переказ коштів. Зручні
    способи оплати: Готівкою або карткою.</span
  >
</div>
